<div class="user-routine mat-elevation-z8" *ngIf="user">   
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="Day">
            <mat-header-cell style="background-color: rgb(67, 187, 67);" *matHeaderCellDef> Days </mat-header-cell>
            <mat-cell style="font-size: 22px;" *matCellDef="let element; let i = index;"> {{element.day}}
                <button class="addExbtn" mat-raised-button (click)="addExercise(i)">
                    <mat-icon style="position: relative; left:-5px">add_circle</mat-icon> Add Exercise
                </button>
            </mat-cell>
            
        </ng-container>
        <ng-container matColumnDef="Exercises">      
            <mat-header-cell style="background-color: rgb(67, 187, 67);" *matHeaderCellDef> Workouts </mat-header-cell>
            <mat-cell *matCellDef="let element2; let exI = index">
                <mat-table class="tb2" #table2 [dataSource]="element2.workout">
                    <ng-container matColumnDef="Name">
                        <mat-header-cell style="margin-left: -12px;" class="hc" *matHeaderCellDef>Exercise </mat-header-cell>
                        <mat-cell *matCellDef="let element2"> 
                            <mat-form-field appearance="none" class="inputField" style="margin-left: -12px; margin-right: 12px;">
                                <!--<mat-label>{{element2.name}}</mat-label>-->
                                <input class="IN" matInput [(ngModel)]="element2.name" type="text" [disabled]="!innerSelection.isSelected(element2)">
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Sets">
                        <mat-header-cell style="margin-left: 16px;" class="hc" *matHeaderCellDef> Sets </mat-header-cell>
                        <mat-cell *matCellDef="let element2">
                            <mat-form-field appearance="none" class="inputField">
                                <!--<mat-label>{{element2.name}}</mat-label>-->
                                <input class="IN" matInput [(ngModel)]="element2.sets" type="number" [disabled]="!innerSelection.isSelected(element2)">
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Reps">
                        <mat-header-cell style="margin-left: -2px;" class="hc" *matHeaderCellDef> Reps </mat-header-cell>
                        <mat-cell *matCellDef="let element2">
                            <mat-form-field appearance="none" class="inputField">
                                <!--<mat-label>{{element2.name}}</mat-label>-->
                                <input class="IN" matInput [(ngModel)]="element2.reps" type="number" [disabled]="!innerSelection.isSelected(element2)">
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Weight">
                        <mat-header-cell style="margin-left: -4px;" class="hc" *matHeaderCellDef> Weight </mat-header-cell>
                        <mat-cell *matCellDef="let element2">
                            <mat-form-field appearance="none" class="inputField">
                                <!--<mat-label>{{element2.name}}</mat-label>-->
                                <input class="IN" matInput [(ngModel)]="element2.weight" type="number" [disabled]="!innerSelection.isSelected(element2)">
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Edit">
                        <mat-header-cell style="margin-left: -4px;" class="hc" *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element2"> 
                            <button mat-icon-button [disabled]="!innerSelection.isSelected(element2)">
                                <mat-icon style="position: relative;left: -10px;">create</mat-icon>
                            </button>
                            <button class="delExbtn" mat-icon-button (click)="removeExercise(exI,element2,table2)"
                            [disabled]="!innerSelection.isSelected(element2)"              
                            color="primary"><mat-icon style="position: relative;left: -13px;">delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="colHeaders2"></mat-header-row>
                    <mat-row *matRowDef="let row2; columns: colHeaders2;"
                    (click)="innerSelection.select(row2)">
                        <!--<button mat-raised-button (click)="removeExercise(exI,element2)" [disabled]="clickedRows.size == 0">Delete</button>-->
                    </mat-row>
                </mat-table>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="colHeaders1"></mat-header-row>
        <mat-row *matRowDef="let row; columns: colHeaders1;"
            (click)="selection.select(row)"
            [disabled]="!selection.isSelected(row)"
            [class.demo-row-is-clicked]="selection.hasValue()">
        </mat-row>
    </mat-table>
    <mat-actions><button class="btn" mat-raised-button (click)="updateRoutine()" [disabled]="selection.isEmpty()">Submit</button>
        <button class="btn" mat-raised-button (click)="deleteRoutine()" [disabled]="!user.routine['workouts']">Delete Current Routine</button>
    </mat-actions>
    
</div>
<!--
<div *ngIf="!clickedRows.size">
    Clicked rows will be logged here
  </div>
  
  <ul>
    <li *ngFor="let clickedRow of clickedRows">
      Clicked on {{clickedRow.values | json}}
    </li>
  </ul>
-->