<!-- flLayoutAlign="center center" means the card is centered on the screen -->

<!-- <div *ngIf="!loggedIn" fxLayoutAlign="center center" fxFlexFill class="main-div" [class.alternative] = "isTrue"> 

    <mat-card fxFlex="25">
    <mat-toolbar color="primary">Login Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="formGroup"
        (ngSubmit)="Login(formGroup.value)">
            <mat-form-field>
                <input matInput placeholder="username" formControlName="email"><br>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="password" formControlName=password>
            </mat-form-field>
            <button mat-raised-button type="submit"
            class="mt-5" color="primary">Login</button>

            <button mat-raised-button type="button"
            class="mt-5" color="primary" (click)="changeTheme()"
            >Change Theme</button>

            <button mat-raised-button type="button"
            class="mt-5" color="primary"
            >Create Account</button>
        </form>
    </mat-card>
</div>-->
<div class="signin-content">
    <mat-card>
      <mat-card-content *ngIf="isRegistered">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <mat-header style="font-size:x-large;">Welcome to myLifts!</mat-header>
          <p>Please login or register to continue.</p>
          <mat-form-field class="full-width-input">
            <input matInput type="email" placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="validField('email')">
              Please enter your email
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error *ngIf="validField('password')">
              Please enter your password
            </mat-error>
          </mat-form-field>
          <button mat-raised-button class="btns" style="margin-right: 8px;" color="primary">Login</button>
          <button mat-raised-button class="btns" (click)="isRegistered=false" color="primary">Register</button>
        </form>
      </mat-card-content>
      <mat-card-content *ngIf="!isRegistered">
        <form [formGroup]="regformGroup" (ngSubmit)="register()">
          <p>Registration Form</p>
          <mat-form-field class="full-width-input">
            <input matInput type="email" placeholder="Email" formControlName="email" required>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Password" formControlName="password" required>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="text" placeholder="Firstname" formControlName="firstname" required>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="text" placeholder="Lastname" formControlName="lastname" required>
          </mat-form-field>
          <button mat-raised-button color="primary">Submit</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
