/**.main-div mat-card{
    padding: 0px;
}

.login-form{
    padding: 20px;
}
**/
mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    border: 1px solid black;
}

.btns{
    border: 1px solid black;
}

.signin-content {
    padding: 60px 1rem;
}

.full-width-input {
    width: 100%;
}
