<form [formGroup]="routineForm">
    <div class="routineCard" formArrayName="routine">
        <div *ngFor="let workout of routine().controls; let workoutIndex=index">
            <mat-card class="woIn" [formGroupName]="workoutIndex" style="
             padding: 12px; width: 80%; margin: 9px;"
            >
              <mat-form-field appearance="fill">
                <mat-label> Day :</mat-label>
                <input matInput type="text" formControlName="day"> 
              </mat-form-field>
               <button mat-raised-button class="btn1" color="primary" (click)="removeWorkout(workoutIndex)"
               ><mat-icon style="position: relative;left: -5px;">delete</mat-icon> Remove Workout
               </button>
                <div formArrayName="workout">
                    <label>Workout:</label>
                    <div *ngFor="let exercise of workoutExercises(workoutIndex).controls; let exerciseIndex = index">
                        <div class="exIn" [formGroupName]="exerciseIndex">        
                            <mat-form-field appearance="fill">
                                <mat-label>Exercise:</mat-label>
                                <input matInput type="text" formControlName="name">
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Sets:</mat-label>
                                <input matInput type="number" formControlName="sets">
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Reps:</mat-label>
                                <input matInput type="number" formControlName="reps">
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Weight:</mat-label>
                                <input matInput type="number" formControlName="weight">
                            </mat-form-field>
                            <button mat-raised-button class="btn2" color="primary" (click)="removeWorkoutExercise(workoutIndex,exerciseIndex)"
                            ><mat-icon style="position: relative;left: -5px;">delete</mat-icon> Remove Exercise
                            </button>
                        </div>
                    </div>
                </div>
                <button mat-raised-button class="btn3" (click)="addWorkoutExercise(workoutIndex)">
                    <mat-icon style="position: relative;top: -1px; left: -5px;">add_circle</mat-icon> Add Exercise
                </button>
            </mat-card> 
        </div>
            <button mat-raised-button class="btn4" (click)="addWorkout()" style="margin-left: 8px;">
                <mat-icon style="position: relative;top: -1px;left: -5px;">add_circle</mat-icon> Add Workout
            </button><br>
            <button mat-raised-button class="btn5" (click)="onSubmit(routineForm.value)">Submit Routine</button>
    </div>
    
</form>

<!--{{ this.routineForm.value | json }}<br>-->