<div fxFlexFill class="main-div alternative">
<mat-toolbar color="primary" class="mat-elevation-z6" *ngIf="isLoggedIn$ | async as isLoggedIn">
    <span class="title"><mat-icon class="icon">fitness_center</mat-icon>myLifts</span> 
     <div class="spacer"></div>
    <a mat-flat-button routerLink="/myLifts/home" color="primary" style="margin: 5px">Home</a>
    <a mat-flat-button routerLink="myLifts/routine" color="primary">Routine</a>
    <a mat-flat-button routerLink="/myLifts/log-workout" color="primary">Log Workout</a>  
    <a mat-flat-button routerLink="/myLifts/goals" color="primary">Goals</a>
    <button mat-flat-button (click)="onLogout()" *ngIf="isLoggedIn" color="primary">Logout</button>   
</mat-toolbar>
</div>