.mat-column-Name{
    background-color: rgb(67, 187, 67);
    font-size: 20px;
    width: 20%
}

.mat-column-Sets{
    background-color: rgb(67, 187, 67);
    font-size: 20px;
    width: 20%;
    margin-left: -1px;
}

.mat-column-Reps{
    background-color: rgb(67, 187, 67);
    font-size: 20px;
    width: 20%;
    margin-left: -1px;
}

.mat-column-Weight{
    background-color: rgb(67, 187, 67);
    font-size: 20px;
    width: 20%;
    margin-left: -1px;
}

.mat-table{
    width: 80%;
}

.tc1{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 14px;  
}

.tc2{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 14px;  
    text-indent: 1px;
}

.tc3{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 14px;  
    text-indent: 1px;
}

.tc4{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 14px;  
    text-indent: 1px;
}

.IN{
    width: 45px;
}

.btn{
    margin-top: 10px;
    background-color: rgb(255, 196, 0);
}

.mat-toolbar{
    font-size: xx-large;
}
