.btn1{
    color: black;
    background-color: rgb(0, 183, 255);
}

.btn2{
    margin-left: -40px;
    color: black;
}

.btn3{
    background-color: rgb(255, 196, 0);
    margin-top: 15px;
}

.btn4{
    color: black;
    margin-left: 10px;
}

.mat-toolbar{
    font-size: xx-large;
}