<mat-toolbar>myGoals</mat-toolbar><br>
<div> 
    <form [formGroup]="goalsForm">
    <mat-card>
      <h2>Set up routine:</h2>
          <mat-form-field appearance="fill" style="margin-right: 10px;">
            <mat-label>Select gender</mat-label>
            <mat-select formControlName="gender" required>
              <mat-option *ngFor="let gen of genders" [value]="gen">
                {{gen}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" style="margin-right: 10px;">
            <mat-label>Enter current weight</mat-label>
            <input matInput formControlName="userWeight" type="text" placeholder="Ex. 190lbs"> 
            <mat-hint>Enter weight including lbs</mat-hint>
          </mat-form-field><br>

          <mat-form-field appearance="fill" style="margin-right: 10px;">
            <mat-label>Select routine type</mat-label>
            <mat-select formControlName="routineType" required>
              <mat-option *ngFor="let rt of routines" [value]="rt.value">
                {{rt.viewValue}}
              </mat-option>
            </mat-select>
            <mat-hint>Do you want to increase muscular endurance, hypertrophy, or strength?</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Select experience level</mat-label>
            <mat-select formControlName="expLevel" required>
              <mat-option *ngFor="let exp of experiences" [value]="exp.value">
                {{exp.viewValue}}
              </mat-option>
            </mat-select>
            <mat-hint>How long have you been working out?</mat-hint>
          </mat-form-field>

          <button mat-raised-button (click)="createCoreGoals(goalsForm.get('expLevel').value)" 
           class="btn4" style="background-color: rgb(67, 187, 67);">Calculate Goals</button><br><br>
           <div style="display: flex;">
           <mat-list *ngIf="show" style="flex: 1 1 auto;">
             <h2>Goals for the main lifts:</h2>
             <mat-list-item *ngFor="let goal of user.goals">
              <div mat-line>Your {{goal.reps}}RM for {{goal.name}} is {{goal.weight}}lbs.</div>
             </mat-list-item>
           </mat-list>
           <mat-list *ngIf="show" style="flex: 1 1 auto;">
            <h2>Optimal training percentages and ranges for {{user.routine['type']}} training:</h2>
            <mat-list-item *ngFor="let range of trainingRanges">
             <div mat-line>{{range}}</div>
            </mat-list-item>
          </mat-list>
          </div><br><br>
    <ng-container>
    <ng-container formGroupName="oneRM">
      <h2>1 RM & training percentages for an exercise</h2>
        <mat-form-field appearance="none">
            <mat-label> Ex: 280</mat-label>
            <input matInput type="number" min="1" formControlName="weight" style="width: 75px; border: solid 1px black;"> 
            <span matSuffix style="margin-left: -100px; margin-right: 6px;">lbs performed for </span> 
        </mat-form-field>
        <mat-form-field appearance="none">
            <mat-label> Ex: 4</mat-label>
            <input matInput type="number" min="2" formControlName="reps" style="width: 50px; border: solid 1px black;"> 
            <span matSuffix style="margin-left: -124px;">rep/reps on </span> 
        </mat-form-field>
        <mat-form-field appearance="none" style="margin-left: -36px;">
            <mat-label> Ex: Bench Press</mat-label>
            <input matInput type="text" formControlName="name" style="width: 150px; border: solid 1px black;"> 
            <span matSuffix style="margin-right: 15px;">. </span> 
        </mat-form-field>
        <button mat-raised-button (click)="getOneRM(goalsForm.get('oneRM').get('weight').value,goalsForm.get('oneRM').get('reps').value)" 
          class="btn2" style="background-color: rgb(67, 187, 67);">Calculate 1RM</button>
        <mat-list>
          <mat-list-item *ngFor="let rm of oneRMs">
            <div matLine>1 RM for {{rm.exercise}} is {{rm.weight}} lbs.
              <mat-list-item *ngFor="let p of percentages; let i = index">
                <div matLine>{{p.toFixed(2)}}% of 1RM {{perRMs[i]}} lbs.</div> 
              </mat-list-item>
              <button mat-raised-button (click)="reset()" *ngIf="oneRMs">Reset</button>
            </div>
          </mat-list-item>
        </mat-list>
        </ng-container>
        <div formArrayName="goals">
        <h2>Additional goals:</h2>
        <div *ngFor="let goal of goals().controls; let goalIndex=index">
        <ng-container [formGroupName]="goalIndex" style="margin-bottom: 5px;"> 
            <mat-form-field appearance="none">
                <mat-label> Ex: Bench Press</mat-label>
                <span matPrefix style="margin-right: 8px;">The goal for </span>
                <input matInput type="text" formControlName="name" style="border: solid 1px black; width: 150px;"> 
            </mat-form-field>
            <mat-form-field appearance="none">
                <mat-label> Ex: 1</mat-label>
                <span matPrefix style="margin-right: 8px; margin-left: -20px;">is to do </span>
                <input matInput type="number" formControlName="sets" style="border: solid 1px black; width: 50px;">  
                <span matSuffix style="margin-left: -122px;">set/sets of </span>
            </mat-form-field>
            <mat-form-field appearance="none" style="margin-left: -36px;">
                <mat-label> Ex: 4</mat-label>
                <input matInput type="number" formControlName="reps" style="border: solid 1px black; width: 50px;"> 
                <span matSuffix style="margin-right: 10px; margin-left: -122px;">rep/reps with </span>
            </mat-form-field>
            <mat-form-field appearance="none" style="margin-left: -20px;">
                <mat-label> Ex: 320</mat-label>
                <input matInput type="number" formControlName="weight" style="border: solid 1px black; width: 80px;">
                <span matSuffix style="margin-left: -92px;">lbs. </span> 
            </mat-form-field>
             
            <button mat-icon-button (click)="removeGoal(goalIndex)" color="primary" style="margin-left: -65px; position: relative; top: -2px;">
              <mat-icon>delete</mat-icon>
            </button>
        </ng-container>
        </div> 
        <button mat-raised-button (click)="addGoal()" class="btn1">
          <mat-icon style="position: relative;top: -2px;left: -3px;">add_circle</mat-icon>Add Goal
        </button><br>
        <button mat-raised-button (click)="onSubmit()" class="btn3">Submit</button>
    </div>
    </ng-container>
    </mat-card>
</form>
</div>